In [14]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [15]:
data = pd.read_csv("TennesseeMay.csv")

## YearMonth

In [16]:
dataSubYearMonth = data.copy()

In [17]:
dataSubYearMonth['crashPctChange'] = dataSubYearMonth.Crash_ID.pct_change()
dataSubYearMonth['deathCntPctChange'] = dataSubYearMonth.Death_Cnt.pct_change()
dataSubYearMonth['fatalPctChange'] = dataSubYearMonth.Crash_Fatal_Fl.pct_change()
dataSubYearMonth['State']='Tennessee'
dataSubYearMonth['Country']='United States'

In [18]:
dataSubYearMonth['deathRate']=dataSubYearMonth['Death_Cnt']/dataSubYearMonth['Crash_ID']
dataSubYearMonth['fatRate']=dataSubYearMonth['Crash_Fatal_Fl']/dataSubYearMonth['Crash_ID']

In [19]:
dataSubYearMonth['deathRatePctChange'] = dataSubYearMonth.deathRate.pct_change()
dataSubYearMonth['fatRatePctChange'] = dataSubYearMonth.fatRate.pct_change()

In [20]:
with open("TN_May_dataSubYearMonth.csv",'w', newline='') as outputfile:
    dataSubYearMonth.to_csv(outputfile, header=True, index = False)

In [21]:
datacheck = pd.read_csv('TN_May_dataSubYearMonth.csv')

In [22]:
datacheck

    Year  Month  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  crashPctChange  deathCntPctChange  fatalPctChange      State        Country  deathRate   fatRate  deathRatePctChange  fatRatePctChange
0   2019      1     15677              72         78   2019-01             NaN                NaN             NaN  Tennessee  United States   0.004975  0.004593                 NaN               NaN
1   2019      2     15653              79         81   2019-02       -0.001531           0.038462        0.097222  Tennessee  United States   0.005175  0.005047            0.040054          0.098905
2   2019      3     16495              62         65   2019-03        0.053792          -0.197531       -0.215190  Tennessee  United States   0.003941  0.003759           -0.238494         -0.255251
3   2019      4     17605              83         88   2019-04        0.067293           0.353846        0.338710  Tennessee  United States   0.004999  0.004715            0.268486          0.254304
4   2019      5     17761             103        109   2019-05        0.008861           0.238636        0.240964  Tennessee  United States   0.006137  0.005799            0.227757          0.230064
5   2019      6     16208             101        104   2019-06       -0.087439          -0.045872       -0.019417  Tennessee  United States   0.006417  0.006231            0.045550          0.074539
6   2019      7     15757              98        100   2019-07       -0.027826          -0.038462       -0.029703  Tennessee  United States   0.006346  0.006219           -0.010940         -0.001931
7   2019      8     16948              91         97   2019-08        0.075585          -0.030000       -0.071429  Tennessee  United States   0.005723  0.005369           -0.098166         -0.136683
8   2019      9     16342             109        120   2019-09       -0.035756           0.237113        0.197802  Tennessee  United States   0.007343  0.006670            0.282988          0.242220
9   2019     10     19647              98        108   2019-10        0.202240          -0.100000       -0.100917  Tennessee  United States   0.005497  0.004988           -0.251397         -0.252160
10  2019     11     19220              85         91   2019-11       -0.021734          -0.157407       -0.132653  Tennessee  United States   0.004735  0.004422           -0.138688         -0.113384
11  2019     12     17458              99        107   2019-12       -0.091675           0.175824        0.164706  Tennessee  United States   0.006129  0.005671            0.294498          0.282257
12  2020      1     15876              71         74   2020-01       -0.090617          -0.308411       -0.282828  Tennessee  United States   0.004661  0.004472           -0.239496         -0.211364
13  2020      2     15865              75         89   2020-02       -0.000693           0.202703        0.056338  Tennessee  United States   0.005610  0.004727            0.203537          0.057070
14  2020      3     13244              73         77   2020-03       -0.165206          -0.134831       -0.026667  Tennessee  United States   0.005814  0.005512            0.036386          0.165957
15  2020      4      8752              74         74   2020-04       -0.339172          -0.038961        0.013699  Tennessee  United States   0.008455  0.008455            0.454296          0.533984
16  2020      5     12628              69         86   2020-05        0.442870           0.162162       -0.067568  Tennessee  United States   0.006810  0.005464           -0.194548         -0.353766

## MonthYear

In [23]:
dataSubMonthYear = data[['Month', 'Year','Crash_ID','Crash_Fatal_Fl','Death_Cnt','yearMonth']].sort_values(by=['Month', 'Year'])

In [24]:
dataSubMonthYear['crashPctChange'] = dataSubMonthYear.groupby('Month')['Crash_ID'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['deathCntPctChange'] = dataSubMonthYear.groupby('Month')['Death_Cnt'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatalPctChange'] = dataSubMonthYear.groupby('Month')['Crash_Fatal_Fl'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['State']='Tennessee'
dataSubMonthYear['Country']='United States'

In [25]:
dataSubMonthYear['deathRate']=dataSubMonthYear['Death_Cnt']/dataSubMonthYear['Crash_ID']
dataSubMonthYear['fatRate']=dataSubMonthYear['Crash_Fatal_Fl']/dataSubMonthYear['Crash_ID']

In [26]:
dataSubMonthYear['deathRatePctChange'] = dataSubMonthYear.groupby('Month')['deathRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatRatePctChange'] = dataSubMonthYear.groupby('Month')['fatRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))

In [27]:
with open("TN_May_dataSubMonthYear.csv",'w',newline='') as outputfile:
    dataSubMonthYear.to_csv(outputfile, header=True, index = False)

In [28]:
datacheck = pd.read_csv('TN_May_dataSubMonthYear.csv')
datacheck.shape

(17, 15)

#### The december tied data
In this section we compare the all the months we have in 2020 to the most recent "normal month" which is December.

In [29]:
compare = dataSubYearMonth[['yearMonth', 'Crash_ID', 'Crash_Fatal_Fl']][dataSubYearMonth.yearMonth >= '2019-12']

compare['crashPctChangeCompareDec'] = compare.Crash_ID / compare.Crash_ID.iloc[0] - 1
compare['fatalPctChangeCompareDec'] = compare.Crash_Fatal_Fl / compare.Crash_Fatal_Fl.iloc[0] - 1

compare['State']='Tennessee'
compare['Country']='United States'

In [30]:
compare

   yearMonth  Crash_ID  Crash_Fatal_Fl  crashPctChangeCompareDec  fatalPctChangeCompareDec      State        Country
11   2019-12     17458              99                  0.000000                  0.000000  Tennessee  United States
12   2020-01     15876              71                 -0.090617                 -0.282828  Tennessee  United States
13   2020-02     15865              75                 -0.091248                 -0.242424  Tennessee  United States
14   2020-03     13244              73                 -0.241379                 -0.262626  Tennessee  United States
15   2020-04      8752              74                 -0.498683                 -0.252525  Tennessee  United States
16   2020-05     12628              69                 -0.276664                 -0.303030  Tennessee  United States

In [31]:
with open("TN_May_PctChangeCompareDec.csv",'w',newline='') as outputfile:
    compare.to_csv(outputfile, header=True, index = False)