In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

#### 2019 + 2020

In [2]:
data = pd.read_csv("Crashes_in_DC.csv")
data['FROMDATE'] = pd.to_datetime(data['FROMDATE'])
data = data[data.FROMDATE >= '2019-01-01']

In [3]:
data.head()

(33541, 58)

In [4]:
data['Death_Cnt'] = data['FATAL_BICYCLIST'] + data['FATAL_DRIVER'] + data['FATAL_PEDESTRIAN'] + data['FATALPASSENGER']
#data['Tot_Injry_Cnt'] = data['MAJORINJURIES_BICYCLIST']+data['MINORINJURIES_BICYCLIST']\
#                        +data['MAJORINJURIES_DRIVER']+data['MINORINJURIES_DRIVER']\
#                        +data['MAJORINJURIES_PEDESTRIAN']+data['MINORINJURIES_PEDESTRIAN']\
#                        +data['MAJORINJURIESPASSENGER']+data['MINORINJURIESPASSENGER']
#data['Unkn_Injry_Cnt'] = data['UNKNOWNINJURIES_BICYCLIST']+data['UNKNOWNINJURIES_DRIVER']\
#                        +data['UNKNOWNINJURIES_PEDESTRIAN']+data['UNKNOWNINJURIESPASSENGER']

In [5]:
data['Crash_Fatal_Fl'] = data['Death_Cnt'].apply(lambda x: 1 if x > 0 else 0)
dataSub = data[['EVENTID', 'Crash_Fatal_Fl','FROMDATE', 'Death_Cnt']]
dataSub['FROMDATE'] = pd.to_datetime(dataSub['FROMDATE'])

In [6]:
dataSub.head()

                                  EVENTID  Crash_Fatal_Fl            FROMDATE  Death_Cnt
0  {5EC563A8-6958-48E1-B00C-D22A91003D99}               0 2020-05-02 04:00:00          0
1  {A3020928-3D6F-454C-A184-BF9966F641B7}               0 2020-05-03 04:00:00          0
2  {1552A892-2A1B-4E0B-A214-70EA69E0F2DA}               0 2020-05-03 04:00:00          0
3  {2A63A945-2E57-4D36-904F-C3B32D83A905}               0 2020-05-04 04:00:00          0
4  {E1706550-52E9-4528-BCD9-D3E4C431FC37}               0 2020-05-04 04:00:00          0

In [7]:
dataSubAgg = dataSub.copy()

In [8]:
dataSubAgg['yearMonth'] = dataSubAgg['FROMDATE'].dt.strftime('%Y-%m')
dataSubAgg['Year'] = dataSubAgg['FROMDATE'].dt.strftime('%Y')
dataSubAgg['Month'] = dataSubAgg['FROMDATE'].dt.strftime('%m')
dataSubAgg = dataSubAgg.drop(['FROMDATE'], axis = 1)

In [9]:
dataSubAgg.rename(columns={"EVENTID": "Crash_ID"}, inplace = True)

In [10]:
dataSubAgg.head()

                                 Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  Year Month
0  {5EC563A8-6958-48E1-B00C-D22A91003D99}               0          0   2020-05  2020    05
1  {A3020928-3D6F-454C-A184-BF9966F641B7}               0          0   2020-05  2020    05
2  {1552A892-2A1B-4E0B-A214-70EA69E0F2DA}               0          0   2020-05  2020    05
3  {2A63A945-2E57-4D36-904F-C3B32D83A905}               0          0   2020-05  2020    05
4  {E1706550-52E9-4528-BCD9-D3E4C431FC37}               0          0   2020-05  2020    05

## YearMonth

In [11]:
dataSubYearMonth = dataSubAgg.groupby(['Year','Month']).agg({'Crash_ID': 'count',
                                                                   'Crash_Fatal_Fl': 'sum',
                                                                   'Death_Cnt': 'sum',
                                                                   'yearMonth': 'max'}).reset_index()

In [12]:
dataSubYearMonth['crashPctChange'] = dataSubYearMonth.Crash_ID.pct_change()
dataSubYearMonth['deathCntPctChange'] = dataSubYearMonth.Death_Cnt.pct_change()
dataSubYearMonth['fatalPctChange'] = dataSubYearMonth.Crash_Fatal_Fl.pct_change()
dataSubYearMonth['State']='District of Columbia'
dataSubYearMonth['Country']='United States'

In [13]:
dataSubYearMonth['deathRate']=dataSubYearMonth['Death_Cnt']/dataSubYearMonth['Crash_ID']
dataSubYearMonth['fatRate']=dataSubYearMonth['Crash_Fatal_Fl']/dataSubYearMonth['Crash_ID']

In [14]:
dataSubYearMonth['deathRatePctChange'] = dataSubYearMonth.deathRate.pct_change()
dataSubYearMonth['fatRatePctChange'] = dataSubYearMonth.fatRate.pct_change()

In [15]:
with open("DC_dataSubYearMonth.csv",'w') as outputfile:
    dataSubYearMonth.to_csv(outputfile, header=True, index = False)

In [16]:
datacheck = pd.read_csv('DC_dataSubYearMonth.csv')

In [17]:
datacheck.shape

(17, 15)

## MonthYear

In [18]:
dataSubMonthYear = dataSubAgg.groupby(['Month','Year']).agg({'Crash_ID': 'count',
                                                                   'Crash_Fatal_Fl': 'sum',
                                                                   'Death_Cnt': 'sum',
                                                                   'yearMonth': 'max'}).reset_index()

In [19]:
dataSubMonthYear['crashPctChange'] = dataSubMonthYear.groupby('Month')['Crash_ID'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['deathCntPctChange'] = dataSubMonthYear.groupby('Month')['Death_Cnt'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatalPctChange'] = dataSubMonthYear.groupby('Month')['Crash_Fatal_Fl'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['State']='District of Columbia'
dataSubMonthYear['Country']='United States'

In [20]:
dataSubMonthYear['deathRate']=dataSubMonthYear['Death_Cnt']/dataSubMonthYear['Crash_ID']
dataSubMonthYear['fatRate']=dataSubMonthYear['Crash_Fatal_Fl']/dataSubMonthYear['Crash_ID']

In [21]:
dataSubMonthYear['deathRatePctChange'] = dataSubMonthYear.groupby('Month')['deathRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatRatePctChange'] = dataSubMonthYear.groupby('Month')['fatRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))

In [22]:
with open("DC_dataSubMonthYear.csv",'w') as outputfile:
    dataSubMonthYear.to_csv(outputfile, header=True, index = False)

In [23]:
datacheck = pd.read_csv('DC_dataSubMonthYear.csv')
datacheck.shape

(17, 15)

#### The december tied data
In this section we compare the all the months we have in 2020 to the most recent "normal month" which is December.

In [24]:
compare = dataSubYearMonth[['yearMonth', 'Crash_ID', 'Crash_Fatal_Fl']][dataSubYearMonth.yearMonth >= '2019-12']

compare['crashPctChangeCompareDec'] = compare.Crash_ID / compare.Crash_ID.iloc[0] - 1
compare['fatalPctChangeCompareDec'] = compare.Crash_Fatal_Fl / compare.Crash_Fatal_Fl.iloc[0] - 1

compare['State']='District of Columbia'
compare['Country']='United States'

In [25]:
compare

   yearMonth  Crash_ID  Crash_Fatal_Fl  crashPctChangeCompareDec  fatalPctChangeCompareDec                 State        Country
11   2019-12      2137               2                  0.000000                       0.0  District of Columbia  United States
12   2020-01      2074               4                 -0.029481                       1.0  District of Columbia  United States
13   2020-02      1904               1                 -0.109031                      -0.5  District of Columbia  United States
14   2020-03      1541               2                 -0.278896                       0.0  District of Columbia  United States
15   2020-04       882               1                 -0.587272                      -0.5  District of Columbia  United States
16   2020-05       350               0                 -0.836219                      -1.0  District of Columbia  United States

In [26]:
with open("DC_PctChangeCompareDec.csv",'w') as outputfile:
    compare.to_csv(outputfile, header=True, index = False)