In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("SouthDakotaMay.csv")

In [3]:
data.head()

   Year  Month  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth
0  2019      1      1600               3        NaN   2019-01
1  2019      2      1902               3        NaN   2019-02
2  2019      3      1675               6        NaN   2019-03
3  2019      4      1170               4        NaN   2019-04
4  2019      5      1530               5        NaN   2019-05

## YearMonth

In [4]:
dataSubYearMonth = data.copy()

In [5]:
dataSubYearMonth['crashPctChange'] = dataSubYearMonth.Crash_ID.pct_change()
dataSubYearMonth['deathCntPctChange'] = dataSubYearMonth.Death_Cnt.pct_change()
dataSubYearMonth['fatalPctChange'] = dataSubYearMonth.Crash_Fatal_Fl.pct_change()
dataSubYearMonth['State']='SouthDakota'
dataSubYearMonth['Country']='United States'

In [6]:
dataSubYearMonth['deathRate']=dataSubYearMonth['Death_Cnt']/dataSubYearMonth['Crash_ID']
dataSubYearMonth['fatRate']=dataSubYearMonth['Crash_Fatal_Fl']/dataSubYearMonth['Crash_ID']

In [7]:
dataSubYearMonth['deathRatePctChange'] = dataSubYearMonth.deathRate.pct_change()
dataSubYearMonth['fatRatePctChange'] = dataSubYearMonth.fatRate.pct_change()

In [8]:
with open("SD_dataSubYearMonth.csv",'w',newline='') as outputfile:
    dataSubYearMonth.to_csv(outputfile, header=True, index = False)

In [9]:
datacheck = pd.read_csv('SD_dataSubYearMonth.csv')

In [10]:
datacheck

    Year  Month  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  crashPctChange  deathCntPctChange  fatalPctChange        State        Country  deathRate   fatRate  deathRatePctChange  fatRatePctChange
0   2019      1      1600               3        NaN   2019-01             NaN                NaN             NaN  SouthDakota  United States        NaN  0.001875                 NaN               NaN
1   2019      2      1902               3        NaN   2019-02        0.188750                NaN        0.000000  SouthDakota  United States        NaN  0.001577                 NaN         -0.158780
2   2019      3      1675               6        NaN   2019-03       -0.119348                NaN        1.000000  SouthDakota  United States        NaN  0.003582                 NaN          1.271045
3   2019      4      1170               4        NaN   2019-04       -0.301493                NaN       -0.333333  SouthDakota  United States        NaN  0.003419                 NaN         -0.045584
4   2019      5      1530               5        NaN   2019-05        0.307692                NaN        0.250000  SouthDakota  United States        NaN  0.003268                 NaN         -0.044118
5   2019      6      1657               7        NaN   2019-06        0.083007                NaN        0.400000  SouthDakota  United States        NaN  0.004225                 NaN          0.292698
6   2019      7      1477               8        NaN   2019-07       -0.108630                NaN        0.142857  SouthDakota  United States        NaN  0.005416                 NaN          0.282136
7   2019      8      1544               9        NaN   2019-08        0.045362                NaN        0.125000  SouthDakota  United States        NaN  0.005829                 NaN          0.076182
8   2019      9      1571               9        NaN   2019-09        0.017487                NaN        0.000000  SouthDakota  United States        NaN  0.005729                 NaN         -0.017187
9   2019     10      2032              13        NaN   2019-10        0.293444                NaN        0.444444  SouthDakota  United States        NaN  0.006398                 NaN          0.116743
10  2019     11      2650               8        NaN   2019-11        0.304134                NaN       -0.384615  SouthDakota  United States        NaN  0.003019                 NaN         -0.528128
11  2019     12      1898               5        NaN   2019-12       -0.283774                NaN       -0.375000  SouthDakota  United States        NaN  0.002634                 NaN         -0.127371
12  2020      1      1796               5        NaN   2020-01       -0.053741                NaN        0.000000  SouthDakota  United States        NaN  0.002784                 NaN          0.056793
13  2020      2      1298              10        NaN   2020-02       -0.277283                NaN        1.000000  SouthDakota  United States        NaN  0.007704                 NaN          1.767334
14  2020      3      1042               3        NaN   2020-03       -0.197227                NaN       -0.700000  SouthDakota  United States        NaN  0.002879                 NaN         -0.626296
15  2020      4       738               6        NaN   2020-04       -0.291747                NaN        1.000000  SouthDakota  United States        NaN  0.008130                 NaN          1.823848
16  2020      5       900               1        NaN   2020-05        0.219512                NaN       -0.833333  SouthDakota  United States        NaN  0.001111                 NaN         -0.863333

## MonthYear

In [11]:
dataSubMonthYear = data[['Month', 'Year','Crash_ID','Crash_Fatal_Fl','Death_Cnt','yearMonth']].sort_values(by=['Month', 'Year'])

In [12]:
dataSubMonthYear['crashPctChange'] = dataSubMonthYear.groupby('Month')['Crash_ID'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['deathCntPctChange'] = dataSubMonthYear.groupby('Month')['Death_Cnt'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatalPctChange'] = dataSubMonthYear.groupby('Month')['Crash_Fatal_Fl'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['State']='SouthDakota'
dataSubMonthYear['Country']='United States'

In [13]:
dataSubMonthYear['deathRate']=dataSubMonthYear['Death_Cnt']/dataSubMonthYear['Crash_ID']
dataSubMonthYear['fatRate']=dataSubMonthYear['Crash_Fatal_Fl']/dataSubMonthYear['Crash_ID']

In [14]:
dataSubMonthYear['deathRatePctChange'] = dataSubMonthYear.groupby('Month')['deathRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatRatePctChange'] = dataSubMonthYear.groupby('Month')['fatRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))

In [15]:
with open("SD_dataSubMonthYear.csv",'w',newline='') as outputfile:
    dataSubMonthYear.to_csv(outputfile, header=True, index = False)

In [16]:
datacheck = pd.read_csv('SD_dataSubMonthYear.csv')
datacheck.shape

(17, 15)

In [17]:
datacheck

    Month  Year  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  crashPctChange  deathCntPctChange  fatalPctChange        State        Country  deathRate   fatRate  deathRatePctChange  fatRatePctChange
0       1  2019      1600               3        NaN   2019-01        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.001875                 NaN          0.000000
1       1  2020      1796               5        NaN   2020-01        0.122500                NaN        0.666667  SouthDakota  United States        NaN  0.002784                 NaN          0.484781
2       2  2019      1902               3        NaN   2019-02        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.001577                 NaN          0.000000
3       2  2020      1298              10        NaN   2020-02       -0.317560                NaN        2.333333  SouthDakota  United States        NaN  0.007704                 NaN          3.884438
4       3  2019      1675               6        NaN   2019-03        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.003582                 NaN          0.000000
5       3  2020      1042               3        NaN   2020-03       -0.377910                NaN       -0.500000  SouthDakota  United States        NaN  0.002879                 NaN         -0.196257
6       4  2019      1170               4        NaN   2019-04        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.003419                 NaN          0.000000
7       4  2020       738               6        NaN   2020-04       -0.369231                NaN        0.500000  SouthDakota  United States        NaN  0.008130                 NaN          1.378049
8       5  2019      1530               5        NaN   2019-05        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.003268                 NaN          0.000000
9       5  2020       900               1        NaN   2020-05       -0.411765                NaN       -0.800000  SouthDakota  United States        NaN  0.001111                 NaN         -0.660000
10      6  2019      1657               7        NaN   2019-06        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.004225                 NaN          0.000000
11      7  2019      1477               8        NaN   2019-07        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.005416                 NaN          0.000000
12      8  2019      1544               9        NaN   2019-08        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.005829                 NaN          0.000000
13      9  2019      1571               9        NaN   2019-09        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.005729                 NaN          0.000000
14     10  2019      2032              13        NaN   2019-10        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.006398                 NaN          0.000000
15     11  2019      2650               8        NaN   2019-11        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.003019                 NaN          0.000000
16     12  2019      1898               5        NaN   2019-12        0.000000                NaN        0.000000  SouthDakota  United States        NaN  0.002634                 NaN          0.000000

#### The december tied data
In this section we compare the all the months we have in 2020 to the most recent "normal month" which is December.

In [18]:
compare = dataSubYearMonth[['yearMonth', 'Crash_ID', 'Crash_Fatal_Fl']][dataSubYearMonth.yearMonth >= '2019-12']

compare['crashPctChangeCompareDec'] = compare.Crash_ID / compare.Crash_ID.iloc[0] - 1
compare['fatalPctChangeCompareDec'] = compare.Crash_Fatal_Fl / compare.Crash_Fatal_Fl.iloc[0] - 1

compare['State']='SouthDakota'
compare['Country']='United States'

In [19]:
compare

   yearMonth  Crash_ID  Crash_Fatal_Fl  crashPctChangeCompareDec  fatalPctChangeCompareDec        State        Country
11   2019-12      1898               5                  0.000000                       0.0  SouthDakota  United States
12   2020-01      1796               5                 -0.053741                       0.0  SouthDakota  United States
13   2020-02      1298              10                 -0.316122                       1.0  SouthDakota  United States
14   2020-03      1042               3                 -0.451001                      -0.4  SouthDakota  United States
15   2020-04       738               6                 -0.611170                       0.2  SouthDakota  United States
16   2020-05       900               1                 -0.525817                      -0.8  SouthDakota  United States

In [20]:
with open("SD_PctChangeCompareDec.csv",'w',newline='') as outputfile:
    compare.to_csv(outputfile, header=True, index = False)