In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

#### 2019 + 2020

In [2]:
data19 = pd.read_csv("CT_Crash_Data_2019.csv")
data20 = pd.read_csv("CT_Crash_Data_2020.csv")

In [3]:
data = data19.append(data20, sort = False)

In [4]:
data['Crash_Fatal_Fl'] = np.where((data['Crash Severity Text Format'] == 'Fatal (Kill)'),1,0)
dataSub = data[['CrashId', 'Crash_Fatal_Fl','Date Of Crash']]
# may fix later
dataSub['Death_Cnt'] = 0
dataSub['Date Of Crash'] = pd.to_datetime(dataSub['Date Of Crash'])

# keep only before April
dataSub = dataSub[dataSub['Date Of Crash'] < '2020-05-01']

In [5]:
dataSubAgg = dataSub.copy()

In [6]:
dataSubAgg['yearMonth'] = dataSubAgg['Date Of Crash'].dt.strftime('%Y-%m')
dataSubAgg['Year'] = dataSubAgg['Date Of Crash'].dt.strftime('%Y')
dataSubAgg['Month'] = dataSubAgg['Date Of Crash'].dt.strftime('%m')
dataSubAgg = dataSubAgg.drop(['Date Of Crash'], axis = 1)

In [7]:
dataSubAgg.rename(columns={"CrashId": "Crash_ID"}, inplace = True)

In [8]:
dataSubAgg.head()

   Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  Year Month
0    578496               0          0   2019-01  2019    01
1    578767               0          0   2019-01  2019    01
2    578768               0          0   2019-01  2019    01
3    578769               0          0   2019-01  2019    01
4    579168               0          0   2019-01  2019    01

## YearMonth

In [9]:
dataSubYearMonth = dataSubAgg.groupby(['Year','Month']).agg({'Crash_ID': 'count',
                                                                   'Crash_Fatal_Fl': 'sum',
                                                                   'Death_Cnt': 'sum',
                                                                   'yearMonth': 'max'}).reset_index()

In [10]:
dataSubYearMonth['crashPctChange'] = dataSubYearMonth.Crash_ID.pct_change()
dataSubYearMonth['deathCntPctChange'] = dataSubYearMonth.Death_Cnt.pct_change()
dataSubYearMonth['fatalPctChange'] = dataSubYearMonth.Crash_Fatal_Fl.pct_change()
dataSubYearMonth['State']='Connecticut'
dataSubYearMonth['Country']='United States'

In [11]:
dataSubYearMonth['deathRate']=dataSubYearMonth['Death_Cnt']/dataSubYearMonth['Crash_ID']
dataSubYearMonth['fatRate']=dataSubYearMonth['Crash_Fatal_Fl']/dataSubYearMonth['Crash_ID']

In [12]:
dataSubYearMonth['deathRatePctChange'] = dataSubYearMonth.deathRate.pct_change()
dataSubYearMonth['fatRatePctChange'] = dataSubYearMonth.fatRate.pct_change()

In [13]:
with open("CT_dataSubYearMonth.csv",'w') as outputfile:
    dataSubYearMonth.to_csv(outputfile, header=True, index = False)

In [14]:
datacheck = pd.read_csv('CT_dataSubYearMonth.csv')

In [15]:
datacheck.shape

(16, 15)

## MonthYear

In [16]:
dataSubMonthYear = dataSubAgg.groupby(['Month','Year']).agg({'Crash_ID': 'count',
                                                                   'Crash_Fatal_Fl': 'sum',
                                                                   'Death_Cnt': 'sum',
                                                                   'yearMonth': 'max'}).reset_index()

In [17]:
dataSubMonthYear['crashPctChange'] = dataSubMonthYear.groupby('Month')['Crash_ID'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['deathCntPctChange'] = dataSubMonthYear.groupby('Month')['Death_Cnt'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatalPctChange'] = dataSubMonthYear.groupby('Month')['Crash_Fatal_Fl'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['State']='Connecticut'
dataSubMonthYear['Country']='United States'

In [18]:
dataSubMonthYear['deathRate']=dataSubMonthYear['Death_Cnt']/dataSubMonthYear['Crash_ID']
dataSubMonthYear['fatRate']=dataSubMonthYear['Crash_Fatal_Fl']/dataSubMonthYear['Crash_ID']

In [19]:
dataSubMonthYear['deathRatePctChange'] = dataSubMonthYear.groupby('Month')['deathRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatRatePctChange'] = dataSubMonthYear.groupby('Month')['fatRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))

In [20]:
with open("CT_dataSubMonthYear.csv",'w') as outputfile:
    dataSubMonthYear.to_csv(outputfile, header=True, index = False)

In [21]:
datacheck = pd.read_csv('CT_dataSubMonthYear.csv')
datacheck.shape

(16, 15)

#### The december tied data
In this section we compare the all the months we have in 2020 to the most recent "normal month" which is December.

In [22]:
compare = dataSubYearMonth[['yearMonth', 'Crash_ID', 'Crash_Fatal_Fl']][(dataSubYearMonth.yearMonth >= '2019-12') & (dataSubYearMonth.yearMonth < '2020-05')]

compare['crashPctChangeCompareDec'] = compare.Crash_ID / compare.Crash_ID.iloc[0] - 1
compare['fatalPctChangeCompareDec'] = compare.Crash_Fatal_Fl / compare.Crash_Fatal_Fl.iloc[0] - 1

compare['State']='Connecticut'
compare['Country']='United States'

In [23]:
compare

   yearMonth  Crash_ID  Crash_Fatal_Fl  crashPctChangeCompareDec  fatalPctChangeCompareDec        State        Country
11   2019-12     10856              10                  0.000000                       0.0  Connecticut  United States
12   2020-01      8751              21                 -0.193902                       1.1  Connecticut  United States
13   2020-02      7546              16                 -0.304901                       0.6  Connecticut  United States
14   2020-03      5815              12                 -0.464352                       0.2  Connecticut  United States
15   2020-04      1485              17                 -0.863209                       0.7  Connecticut  United States

In [24]:
with open("CT_PctChangeCompareDec.csv",'w') as outputfile:
    compare.to_csv(outputfile, header=True, index = False)