In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

#### 2019 + 2020

In [3]:
data = pd.read_csv("DC_Crash_Master.csv")
data['FROMDATE'] = pd.to_datetime(data['FROMDATE'])
data = data[data.FROMDATE >= '2019-01-01']

In [5]:
data.shape

(34678, 60)

In [6]:
data.head()

,X,Y,OBJECTID,CRIMEID,CCN,REPORTDATE,ROUTEID,MEASURE,OFFSET,STREETSEGID,ROADWAYSEGID,FROMDATE,TODATE,MARID,ADDRESS,LATITUDE,LONGITUDE,XCOORD,YCOORD,WARD,EVENTID,MAR_ADDRESS,MAR_SCORE,MAJORINJURIES_BICYCLIST,MINORINJURIES_BICYCLIST,UNKNOWNINJURIES_BICYCLIST,FATAL_BICYCLIST,MAJORINJURIES_DRIVER,MINORINJURIES_DRIVER,UNKNOWNINJURIES_DRIVER,FATAL_DRIVER,MAJORINJURIES_PEDESTRIAN,MINORINJURIES_PEDESTRIAN,UNKNOWNINJURIES_PEDESTRIAN,FATAL_PEDESTRIAN,TOTAL_VEHICLES,TOTAL_BICYCLES,TOTAL_PEDESTRIANS,PEDESTRIANSIMPAIRED,BICYCLISTSIMPAIRED,DRIVERSIMPAIRED,TOTAL_TAXIS,TOTAL_GOVERNMENT,SPEEDING_INVOLVED,NEARESTINTROUTEID,NEARESTINTSTREETNAME,OFFINTERSECTION,INTAPPROACHDIRECTION,LOCATIONERROR,LASTUPDATEDATE,MPDLATITUDE,MPDLONGITUDE,MPDGEOX,MPDGEOY,BLOCKKEY,SUBBLOCKKEY,FATALPASSENGER,MAJORINJURIESPASSENGER,MINORINJURIESPASSENGER,UNKNOWNINJURIESPASSENGER
14,-77.008015,38.831945,146909883,28421708,20078752,2020/05/28 15:57:44+00,15081252,6663.88,14.94,NaN,NaN,2020-05-27 04:00:00+00:00,1970/01/01 00:00:00+00,276601,3915 SOUTH CAPITOL STREET SW,38.832110,-77.008879,399229.069,129369.010,Ward 8,{A3229692-05F5-4AFF-9663-4FB538A95B5B},3915 SOUTH CAPITOL STREET SW,200.0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,13011702,ATLANTIC ST SE,66.58,North,NaN,1970/01/01 00:00:00+00,38.831992,-77.007856,399243.38,129387.91,eb387f480c185eb3aa3cef68e60fc4d5,b64a24d760bac37842afb04b11e3c09c,0,0,0,0
15,-77.038051,38.896395,146909884,28421709,20078739,2020/05/28 15:58:37+00,11082682,0.00,27.83,NaN,NaN,2020-05-28 04:00:00+00:00,1970/01/01 00:00:00+00,315052,1699 STATE PLACE NW,38.896401,-77.039210,396598.600,136506.526,Ward 2,{838ED618-B178-4895-890B-7D8DAF33C2CD},1699 STATE PLACE NW,200.0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,11092532,WEST EXECUTIVE AVE NW,5.14,West,NaN,1970/01/01 00:00:00+00,38.896137,-77.038024,396598.63,136516.28,4993b38cd7a0a2e949f283bb1c4f03fd,4993b38cd7a0a2e949f283bb1c4f03fd,0,0,0,0
16,-76.974173,38.898421,146909885,28421717,20078748,2020/05/28 16:20:09+00,12002102,729.81,12.89,NaN,NaN,2020-05-28 04:00:00+00:00,1970/01/01 00:00:00+00,251,700 21ST STREET NE,38.899075,-76.974167,402240.871,136802.944,Ward 5,{8160620A-9230-4244-817F-01C9C19711EB},700 21ST STREET NE,200.0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,12015342,BENNING RD NE,10.04,South,NaN,1970/01/01 00:00:00+00,38.898414,-76.974319,402221.52,136802.80,a4faabb71154b627253d7d403d55ef6f,cbecf03b71ee353bbb68116480911d9b,0,0,0,0
17,-76.977312,38.854034,146909886,28421718,20078723,2020/05/28 16:20:49+00,13083422,3089.33,11.03,NaN,NaN,2020-05-28 04:00:00+00:00,1970/01/01 00:00:00+00,55045,SUITLAND PARKWAY WESTBOUND,38.854027,-76.977310,401969.485,131802.161,Ward 8,{87A960A6-24AF-45DF-B7D4-4E7631631031},1829 GAINESVILLE STREET SE,200.0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,1,0,0,13048752,IRVING ST SE,136.99,Northwest,NaN,1970/01/01 00:00:00+00,38.854122,-76.977274,NaN,NaN,6551ef3fc0344eb8f16d7a920f2702a1,6551ef3fc0344eb8f16d7a920f2702a1,0,0,0,0
18,-76.992403,38.862689,146909887,28425913,20081073,2020/06/01 18:41:20+00,13059452,784.47,13.89,NaN,NaN,2020-06-01 04:00:00+00:00,1970/01/01 00:00:00+00,278152,2400 MARTIN LUTHER KING JR AVENUE SE,38.862681,-76.992401,400659.520,132762.632,Ward 8,{0CFFBE46-8C9E-4B80-B56F-14FD606E2BAC},2400 MARTIN LUTHER KING JR AVENUE SE,200.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,13084632,TALBERT ST SE,16.48,Southwest,NaN,1970/01/01 00:00:00+00,38.862578,-76.992310,400667.44,132751.21,40894de5be69af4b9a3517bb2f29d637,40894de5be69af4b9a3517bb2f29d637,0,0,0,0

In [7]:
data['Death_Cnt'] = data['FATAL_BICYCLIST'] + data['FATAL_DRIVER'] + data['FATAL_PEDESTRIAN'] + data['FATALPASSENGER']
#data['Tot_Injry_Cnt'] = data['MAJORINJURIES_BICYCLIST']+data['MINORINJURIES_BICYCLIST']\
#                        +data['MAJORINJURIES_DRIVER']+data['MINORINJURIES_DRIVER']\
#                        +data['MAJORINJURIES_PEDESTRIAN']+data['MINORINJURIES_PEDESTRIAN']\
#                        +data['MAJORINJURIESPASSENGER']+data['MINORINJURIESPASSENGER']
#data['Unkn_Injry_Cnt'] = data['UNKNOWNINJURIES_BICYCLIST']+data['UNKNOWNINJURIES_DRIVER']\
#                        +data['UNKNOWNINJURIES_PEDESTRIAN']+data['UNKNOWNINJURIESPASSENGER']

In [8]:
data['Crash_Fatal_Fl'] = data['Death_Cnt'].apply(lambda x: 1 if x > 0 else 0)
dataSub = data[['EVENTID', 'Crash_Fatal_Fl','FROMDATE', 'Death_Cnt']]
dataSub['FROMDATE'] = pd.to_datetime(dataSub['FROMDATE'])

In [9]:
dataSub.head()

                                   EVENTID  Crash_Fatal_Fl                  FROMDATE  Death_Cnt
14  {A3229692-05F5-4AFF-9663-4FB538A95B5B}               0 2020-05-27 04:00:00+00:00          0
15  {838ED618-B178-4895-890B-7D8DAF33C2CD}               0 2020-05-28 04:00:00+00:00          0
16  {8160620A-9230-4244-817F-01C9C19711EB}               0 2020-05-28 04:00:00+00:00          0
17  {87A960A6-24AF-45DF-B7D4-4E7631631031}               0 2020-05-28 04:00:00+00:00          0
18  {0CFFBE46-8C9E-4B80-B56F-14FD606E2BAC}               0 2020-06-01 04:00:00+00:00          0

In [10]:
dataSubAgg = dataSub.copy()

In [11]:
dataSubAgg['yearMonth'] = dataSubAgg['FROMDATE'].dt.strftime('%Y-%m')
dataSubAgg['Year'] = dataSubAgg['FROMDATE'].dt.strftime('%Y')
dataSubAgg['Month'] = dataSubAgg['FROMDATE'].dt.strftime('%m')
dataSubAgg = dataSubAgg.drop(['FROMDATE'], axis = 1)

In [12]:
dataSubAgg.rename(columns={"EVENTID": "Crash_ID"}, inplace = True)

In [13]:
dataSubAgg.head()

                                  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  Year Month
14  {A3229692-05F5-4AFF-9663-4FB538A95B5B}               0          0   2020-05  2020    05
15  {838ED618-B178-4895-890B-7D8DAF33C2CD}               0          0   2020-05  2020    05
16  {8160620A-9230-4244-817F-01C9C19711EB}               0          0   2020-05  2020    05
17  {87A960A6-24AF-45DF-B7D4-4E7631631031}               0          0   2020-05  2020    05
18  {0CFFBE46-8C9E-4B80-B56F-14FD606E2BAC}               0          0   2020-06  2020    06

In [30]:
dataSubAgg = dataSubAgg[~((dataSubAgg['Month'] == '06') & (dataSubAgg['Year'] == '2020'))]

## YearMonth

In [31]:
dataSubYearMonth = dataSubAgg.groupby(['Year','Month']).agg({'Crash_ID': 'count',
                                                                   'Crash_Fatal_Fl': 'sum',
                                                                   'Death_Cnt': 'sum',
                                                                   'yearMonth': 'max'}).reset_index()

In [32]:
dataSubYearMonth['crashPctChange'] = dataSubYearMonth.Crash_ID.pct_change()
dataSubYearMonth['deathCntPctChange'] = dataSubYearMonth.Death_Cnt.pct_change()
dataSubYearMonth['fatalPctChange'] = dataSubYearMonth.Crash_Fatal_Fl.pct_change()
dataSubYearMonth['State']='District of Columbia'
dataSubYearMonth['Country']='United States'

In [33]:
dataSubYearMonth['deathRate']=dataSubYearMonth['Death_Cnt']/dataSubYearMonth['Crash_ID']
dataSubYearMonth['fatRate']=dataSubYearMonth['Crash_Fatal_Fl']/dataSubYearMonth['Crash_ID']

In [34]:
dataSubYearMonth['deathRatePctChange'] = dataSubYearMonth.deathRate.pct_change()
dataSubYearMonth['fatRatePctChange'] = dataSubYearMonth.fatRate.pct_change()

In [46]:
with open("DC_dataSubYearMonth.csv",'w', newline='') as outputfile:
    dataSubYearMonth.to_csv(outputfile, header=True, index = False)

In [36]:
datacheck = pd.read_csv('DC_dataSubYearMonth.csv')

In [37]:
datacheck.shape

(17, 15)

## MonthYear

In [38]:
dataSubMonthYear = dataSubAgg.groupby(['Month','Year']).agg({'Crash_ID': 'count',
                                                                   'Crash_Fatal_Fl': 'sum',
                                                                   'Death_Cnt': 'sum',
                                                                   'yearMonth': 'max'}).reset_index()

In [39]:
dataSubMonthYear['crashPctChange'] = dataSubMonthYear.groupby('Month')['Crash_ID'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['deathCntPctChange'] = dataSubMonthYear.groupby('Month')['Death_Cnt'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatalPctChange'] = dataSubMonthYear.groupby('Month')['Crash_Fatal_Fl'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['State']='District of Columbia'
dataSubMonthYear['Country']='United States'

In [40]:
dataSubMonthYear['deathRate']=dataSubMonthYear['Death_Cnt']/dataSubMonthYear['Crash_ID']
dataSubMonthYear['fatRate']=dataSubMonthYear['Crash_Fatal_Fl']/dataSubMonthYear['Crash_ID']

In [41]:
dataSubMonthYear['deathRatePctChange'] = dataSubMonthYear.groupby('Month')['deathRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatRatePctChange'] = dataSubMonthYear.groupby('Month')['fatRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))

In [47]:
with open("DC_dataSubMonthYear.csv",'w',newline='') as outputfile:
    dataSubMonthYear.to_csv(outputfile, header=True, index = False)

In [48]:
datacheck = pd.read_csv('DC_dataSubMonthYear.csv')
datacheck.shape

(17, 15)

#### The december tied data
In this section we compare the all the months we have in 2020 to the most recent "normal month" which is December.

In [49]:
compare = dataSubYearMonth[['yearMonth', 'Crash_ID', 'Crash_Fatal_Fl']][dataSubYearMonth.yearMonth >= '2019-12']

compare['crashPctChangeCompareDec'] = compare.Crash_ID / compare.Crash_ID.iloc[0] - 1
compare['fatalPctChangeCompareDec'] = compare.Crash_Fatal_Fl / compare.Crash_Fatal_Fl.iloc[0] - 1

compare['State']='District of Columbia'
compare['Country']='United States'

In [50]:
compare

   yearMonth  Crash_ID  Crash_Fatal_Fl  crashPctChangeCompareDec  fatalPctChangeCompareDec                 State        Country
11   2019-12      2137               2                  0.000000                       0.0  District of Columbia  United States
12   2020-01      2075               4                 -0.029013                       1.0  District of Columbia  United States
13   2020-02      1904               1                 -0.109031                      -0.5  District of Columbia  United States
14   2020-03      1541               2                 -0.278896                       0.0  District of Columbia  United States
15   2020-04       883               1                 -0.586804                      -0.5  District of Columbia  United States
16   2020-05      1218               4                 -0.430042                       1.0  District of Columbia  United States

In [51]:
with open("DC_PctChangeCompareDec.csv",'w',newline='') as outputfile:
    compare.to_csv(outputfile, header=True, index = False)