In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("AlabamaMay.csv")

In [3]:
data.head()

   Year  Month  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth
0  2019      1     12739              76        NaN   2019-01
1  2019      2     12163              45        NaN   2019-02
2  2019      3     13464              72        NaN   2019-03
3  2019      4     13826              61        NaN   2019-04
4  2019      5     13704              79        NaN   2019-05

## YearMonth

In [4]:
dataSubYearMonth = data.copy()

In [5]:
dataSubYearMonth['crashPctChange'] = dataSubYearMonth.Crash_ID.pct_change()
dataSubYearMonth['deathCntPctChange'] = dataSubYearMonth.Death_Cnt.pct_change()
dataSubYearMonth['fatalPctChange'] = dataSubYearMonth.Crash_Fatal_Fl.pct_change()
dataSubYearMonth['State']='Alabama'
dataSubYearMonth['Country']='United States'

In [6]:
dataSubYearMonth['deathRate']=dataSubYearMonth['Death_Cnt']/dataSubYearMonth['Crash_ID']
dataSubYearMonth['fatRate']=dataSubYearMonth['Crash_Fatal_Fl']/dataSubYearMonth['Crash_ID']

In [7]:
dataSubYearMonth['deathRatePctChange'] = dataSubYearMonth.deathRate.pct_change()
dataSubYearMonth['fatRatePctChange'] = dataSubYearMonth.fatRate.pct_change()

In [8]:
with open("AL_dataSubYearMonth.csv",'w',newline='') as outputfile:
    dataSubYearMonth.to_csv(outputfile, header=True, index = False)

In [9]:
datacheck = pd.read_csv('AL_dataSubYearMonth.csv')

In [10]:
datacheck

    Year  Month  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  crashPctChange  deathCntPctChange  fatalPctChange    State        Country  deathRate   fatRate  deathRatePctChange  fatRatePctChange
0   2019      1     12739              76        NaN   2019-01             NaN                NaN             NaN  Alabama  United States        NaN  0.005966                 NaN               NaN
1   2019      2     12163              45        NaN   2019-02       -0.045215                NaN       -0.407895  Alabama  United States        NaN  0.003700                 NaN         -0.379855
2   2019      3     13464              72        NaN   2019-03        0.106964                NaN        0.600000  Alabama  United States        NaN  0.005348                 NaN          0.445395
3   2019      4     13826              61        NaN   2019-04        0.026887                NaN       -0.152778  Alabama  United States        NaN  0.004412                 NaN         -0.174960
4   2019      5     13704              79        NaN   2019-05       -0.008824                NaN        0.295082  Alabama  United States        NaN  0.005765                 NaN          0.306611
5   2019      6     12185              77        NaN   2019-06       -0.110844                NaN       -0.025316  Alabama  United States        NaN  0.006319                 NaN          0.096189
6   2019      7     15211              69        NaN   2019-07        0.248338                NaN       -0.103896  Alabama  United States        NaN  0.004536                 NaN         -0.282163
7   2019      8     13883              70        NaN   2019-08       -0.087305                NaN        0.014493  Alabama  United States        NaN  0.005042                 NaN          0.111536
8   2019      9     12796              72        NaN   2019-09       -0.078297                NaN        0.028571  Alabama  United States        NaN  0.005627                 NaN          0.115947
9   2019     10     14737              92        NaN   2019-10        0.151688                NaN        0.277778  Alabama  United States        NaN  0.006243                 NaN          0.109483
10  2019     11     13279              62        NaN   2019-11       -0.098935                NaN       -0.326087  Alabama  United States        NaN  0.004669                 NaN         -0.252093
11  2019     12     14015              69        NaN   2019-12        0.055426                NaN        0.112903  Alabama  United States        NaN  0.004923                 NaN          0.054459
12  2020      1     12251              50        NaN   2020-01       -0.125865                NaN       -0.275362  Alabama  United States        NaN  0.004081                 NaN         -0.171023
13  2020      2     12237              70        NaN   2020-02       -0.001143                NaN        0.400000  Alabama  United States        NaN  0.005720                 NaN          0.401602
14  2020      3     10505              65        NaN   2020-03       -0.141538                NaN       -0.071429  Alabama  United States        NaN  0.006188                 NaN          0.081669
15  2020      4      6663              49        NaN   2020-04       -0.365731                NaN       -0.246154  Alabama  United States        NaN  0.007354                 NaN          0.188527
16  2020      5      9338              59        NaN   2020-05        0.401471                NaN        0.204082  Alabama  United States        NaN  0.006318                 NaN         -0.140844

## MonthYear

In [11]:
dataSubMonthYear = data[['Month', 'Year','Crash_ID','Crash_Fatal_Fl','Death_Cnt','yearMonth']].sort_values(by=['Month', 'Year'])

In [12]:
dataSubMonthYear['crashPctChange'] = dataSubMonthYear.groupby('Month')['Crash_ID'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['deathCntPctChange'] = dataSubMonthYear.groupby('Month')['Death_Cnt'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatalPctChange'] = dataSubMonthYear.groupby('Month')['Crash_Fatal_Fl'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['State']='Alabama'
dataSubMonthYear['Country']='United States'

In [13]:
dataSubMonthYear['deathRate']=dataSubMonthYear['Death_Cnt']/dataSubMonthYear['Crash_ID']
dataSubMonthYear['fatRate']=dataSubMonthYear['Crash_Fatal_Fl']/dataSubMonthYear['Crash_ID']

In [14]:
dataSubMonthYear['deathRatePctChange'] = dataSubMonthYear.groupby('Month')['deathRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))
dataSubMonthYear['fatRatePctChange'] = dataSubMonthYear.groupby('Month')['fatRate'].apply(lambda x: x.div(x.iloc[0]).subtract(1))

In [15]:
with open("AL_dataSubMonthYear.csv",'w',newline='') as outputfile:
    dataSubMonthYear.to_csv(outputfile, header=True, index = False)

In [16]:
datacheck = pd.read_csv('AL_dataSubMonthYear.csv')
datacheck.shape

(17, 15)

In [17]:
datacheck

    Month  Year  Crash_ID  Crash_Fatal_Fl  Death_Cnt yearMonth  crashPctChange  deathCntPctChange  fatalPctChange    State        Country  deathRate   fatRate  deathRatePctChange  fatRatePctChange
0       1  2019     12739              76        NaN   2019-01        0.000000                NaN        0.000000  Alabama  United States        NaN  0.005966                 NaN          0.000000
1       1  2020     12251              50        NaN   2020-01       -0.038308                NaN       -0.342105  Alabama  United States        NaN  0.004081                 NaN         -0.315899
2       2  2019     12163              45        NaN   2019-02        0.000000                NaN        0.000000  Alabama  United States        NaN  0.003700                 NaN          0.000000
3       2  2020     12237              70        NaN   2020-02        0.006084                NaN        0.555556  Alabama  United States        NaN  0.005720                 NaN          0.546149
4       3  2019     13464              72        NaN   2019-03        0.000000                NaN        0.000000  Alabama  United States        NaN  0.005348                 NaN          0.000000
5       3  2020     10505              65        NaN   2020-03       -0.219771                NaN       -0.097222  Alabama  United States        NaN  0.006188                 NaN          0.157068
6       4  2019     13826              61        NaN   2019-04        0.000000                NaN        0.000000  Alabama  United States        NaN  0.004412                 NaN          0.000000
7       4  2020      6663              49        NaN   2020-04       -0.518082                NaN       -0.196721  Alabama  United States        NaN  0.007354                 NaN          0.666836
8       5  2019     13704              79        NaN   2019-05        0.000000                NaN        0.000000  Alabama  United States        NaN  0.005765                 NaN          0.000000
9       5  2020      9338              59        NaN   2020-05       -0.318593                NaN       -0.253165  Alabama  United States        NaN  0.006318                 NaN          0.096020
10      6  2019     12185              77        NaN   2019-06        0.000000                NaN        0.000000  Alabama  United States        NaN  0.006319                 NaN          0.000000
11      7  2019     15211              69        NaN   2019-07        0.000000                NaN        0.000000  Alabama  United States        NaN  0.004536                 NaN          0.000000
12      8  2019     13883              70        NaN   2019-08        0.000000                NaN        0.000000  Alabama  United States        NaN  0.005042                 NaN          0.000000
13      9  2019     12796              72        NaN   2019-09        0.000000                NaN        0.000000  Alabama  United States        NaN  0.005627                 NaN          0.000000
14     10  2019     14737              92        NaN   2019-10        0.000000                NaN        0.000000  Alabama  United States        NaN  0.006243                 NaN          0.000000
15     11  2019     13279              62        NaN   2019-11        0.000000                NaN        0.000000  Alabama  United States        NaN  0.004669                 NaN          0.000000
16     12  2019     14015              69        NaN   2019-12        0.000000                NaN        0.000000  Alabama  United States        NaN  0.004923                 NaN          0.000000

#### The december tied data
In this section we compare the all the months we have in 2020 to the most recent "normal month" which is December.

In [18]:
compare = dataSubYearMonth[['yearMonth', 'Crash_ID', 'Crash_Fatal_Fl']][dataSubYearMonth.yearMonth >= '2019-12']

compare['crashPctChangeCompareDec'] = compare.Crash_ID / compare.Crash_ID.iloc[0] - 1
compare['fatalPctChangeCompareDec'] = compare.Crash_Fatal_Fl / compare.Crash_Fatal_Fl.iloc[0] - 1

compare['State']='Alabama'
compare['Country']='United States'

In [19]:
compare

   yearMonth  Crash_ID  Crash_Fatal_Fl  crashPctChangeCompareDec  fatalPctChangeCompareDec    State        Country
11   2019-12     14015              69                  0.000000                  0.000000  Alabama  United States
12   2020-01     12251              50                 -0.125865                 -0.275362  Alabama  United States
13   2020-02     12237              70                 -0.126864                  0.014493  Alabama  United States
14   2020-03     10505              65                 -0.250446                 -0.057971  Alabama  United States
15   2020-04      6663              49                 -0.524581                 -0.289855  Alabama  United States
16   2020-05      9338              59                 -0.333714                 -0.144928  Alabama  United States

In [20]:
with open("AL_PctChangeCompareDec.csv",'w',newline='') as outputfile:
    compare.to_csv(outputfile, header=True, index = False)